.login-button{
  display: flex;
  justify-content: flex-end;
  margin:20px;
  cursor: pointer;
}
.nav-section{
  display:flex;
  justify-content: center;
  cursor:pointer;
  margin-bottom: 30px;
}
.menu-list{
  display:Flex;
  list-style-type: none;
}
.menu-list li{
  padding:10px;
}
.menu-area{
  display:flex;
  justify-content: center;
}
.cards:hover{
  scale:1.1;
}
.card-img{
  width:100%;
  height:100%;
  object-fit: cover;
}
.search-box{
  border-bottom: 1px solid #000;
  padding: 5px;
  position: absolute;
  right: 20px;
}
.search-box input{
  border:none;
}
.search-box input:focus{
  outline:none;
}
.detail-img{
  display:flex;
  justify-content: flex-end;
}
.detail-img img{
  width:450px;
}
.detail-button{
  margin-top:20px;
  width:100%;
}
.hide{
  visibility:hidden;  
  margin:20px;
}
.side-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: burlywood;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index:2
}
.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .xbutton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover {
  background-color: beige;
  border-radius: 3px;
} 
@media screen and (max-width: 63rem) {
  .hide {
    visibility:visible;
  }
  .menu-area {
    display: none;
  }
  .search-box{
    display: none;
  }
}
.nav-top{
  display:flex;
  justify-content: space-between;
}